                                                                                                /*
                                                                                                * Copyright (c) 2021 Rafael Yumagulov
                                                                                                *
                                                                                                * SPDX-License-Identifier: MITh                          основной комп на 0-й слот (буква A) , ноутбук на 4-й (буква F)
                                                                                                */

                                                                                                #include <behaviors.dtsi>
                                                                                                #include <dt-bindings/zmk/keys.h>
                                                                                                #include <dt-bindings/zmk/bt.h>

                                                                                                #define DEF 0
                                                                                                #define LWR 1
                                                                                                #define RSE 2
                                                                                                #define CSM 3
                                                                                                #define GAM 4
                                                                                                #define ADJ 5


                                                                                                &lt { quick_tap_ms = <200>; };
                                                                                                &mt { quick_tap_ms = <200>; };

                                                                                                / {
                                                                                                behaviors {
                                                                                                        td0: tap_dance_0 {
                                                                                                        compatible = "zmk,behavior-tap-dance";
                                                                                                        label = "TAP_DANCE_0";
                                                                                                        #binding-cells = <0>;
                                                                                                        tapping-term-ms = <200>;
                                                                                                        bindings = <&kp RBKT>, <&tog GAM>, <&kp PLUS>;
                                                                                                        };
                                                                                                };
                                                                                                        keymap {
                                                                                                                compatible = "zmk,keymap";

                                                                                                                default_layer {
                                                                                                // --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                                                                                                // |    ESC      |      Q      |      W      |      E      |      R      |      T      |                  |      Y      |      U      |      I      |      O      |      P      |      [      |
                                                                                                // |    LGUI     |      A      |      S      |      D      |      F      |      G      |                  |      H      |      J      |      K      |      L      |      ;      |      '      |
                                                                                                // |    LCTL     |      Z      |      X      |      C      |      V      |      B      |                  |      N      |      M      |      ,      |      .      |      /      |      ]      |
                                                                                                //                                           |     SHFT    |    SPACE    |     RSE     |                  |     LWR     |     BSPC    |     SHFT    |
                                                                                                                        bindings = <            
                                                                                                     &kp ESC          &kp Q         &kp W         &kp E         &kp R         &kp T                            &kp Y         &kp U          &kp I       &kp O          &kp P        &kp LBKT
                                                                                                     &kp LGUI         &kp A         &kp S         &kp D         &kp F         &kp G                            &kp H         &kp J          &kp K       &kp L         &kp SEMI      &kp SQT
                                                                                                     &kp LCTRL        &kp Z         &kp X         &kp C         &kp V         &kp B                            &kp N         &kp M        &kp COMMA    &kp DOT        &kp FSLH        &td0           
                                                                                                                                                &kp LSHFT     &kp SPACE      &mo RSE                          &mo LWR       &kp BSPC      &kp RSHFT
                                                                                                                        >;
                                                                                                                };
                                                                                                                lower_layer {
                                                                                                // --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                                                                                                // |      ~      |      (      |      )      |      F4     |      ;      |      :      |                  |      !      |      "      |      Э      |      Х      |      Ъ      |      ,      |
                                                                                                // |      =      |      1      |      2      |      3      |      4      |      5      |                  |      6      |      7      |      8      |      9      |      0      |     A+F     |
                                                                                                // |      +      |      !      |      @      |      #      |      $      |      %      |                  |      ^      |      &      |      *      |      (      |      )      |      -      |
                                                                                                //                                           |             |             | Custom Layer|                  |             |             |             |
                                                                                                                        bindings = <
                                                                                                      &kp TILDE     &kp LPAR      &kp RPAR       &kp F4       &kp DLLR      &kp CARET                         &kp EXCL      &kp AT       &kp SQT       &kp LBKT      &kp RBKT      &kp LS(FSLH)  
                                                                                                      &kp EQUAL      &kp N1        &kp N2        &kp N3        &kp N4        &kp N5                           &kp N6        &kp N7        &kp N8        &kp N9        &kp N0       &kp RA(F)
                                                                                                      &kp PLUS       &kp EXCL      &kp AT       &kp HASH      &kp DLLR      &kp PRCNT                         &kp CARET     &kp AMPS      &kp STAR      &kp LPAR      &kp RPAR      &kp RA(G)
                                                                                                                                               &lt ADJ TAB    &trans        &mo CSM                           &trans        &trans      &lt ADJ DEL
                                                                                                                        >;
                                                                                                                };

                                                                                                                raise_layer {
                                                                                                // -----------------------------------------------------------------------------------------------------------------------------------------------------------
                                                                                                // |  Alt+Tab    |    Alt+F1   |     Alt+F2  |    Alt+3    |    Alt+4    |    MINUS    |                  |     INS     |     BSPC    |     DEL     |      PGUP   |     SCLK    |     CLCK    |
                                                                                                // |&kp LA(LSHFT)|     C+a     |       |     |     TAB     |    Alt+F    |      ,      |                  |     LEFT    |     DOWN    |     UP      |      RGHT   |     INS     |     APP     |
                                                                                                // |             |      ~      |     Win+x   |    Win+c    |    Win+v    |     A+S     |                  |     HOME    |     PGDN    |     PGUP    |      END    |     PAUS    |             |
                                                                                                //                                           |     ADJ     |             |             |                  | Custom Layer|             |             |
                                                                                                                        bindings = <
                                                                                                     &kp LA(TAB)    &kp LEFT      &kp ENTER     &kp RIGHT    &kp LA(N4)    &kp MINUS                          &kp INS      &kp BSPC       &kp DEL      &kp PG_UP     &kp LS(N5)    &kp LC(B)
                                                                                                   &kp LC(LA(TAB))  &kp LC(A)     &kp PIPE      &kp TAB      &kp LA(F)     &kp LS(FSLH)                       &kp LEFT     &kp DOWN       &kp UP       &kp RIGHT     &kp LS(SEMI)  &kp LS(SQT)
                                                                                                       &kp DEL      &kp GRAVE     &kp LG(X)     &kp LG(C)     &kp LG(V)   &kp LA(LSHFT)                       &kp HOME     &kp PG_DN      &kp PG_UP     &kp END     &kp LC(LA(M)) &kp LC(LA(F))
                                                                                                                                                &lt ADJ RET    &trans         &trans                          &mo CSM      &kp ENTER      &kp LS(ENTER)
                                                                                                                        >;
                                                                                                                };
                                                                                                                custom_layer {
                                                                                                // --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                                                                                                // |      F1     |      F2     |      F3     |      F4     |      F5     |      F6     |                  |      F7     |      F8     |      F9     |     F10     |     F11     |     F12     |
                                                                                                // |      =      |      1      |      2      |      3      |      4      |     GAM     |                  |  ALT+ENTER  |      7      |      8      |      9      |      0      |     A+F     |
                                                                                                // |      +      |      !      |      @      |      #      |      $      |      %      |                  |    ALT+N    |    ALT+M    |      *      |      (      |      )      |      -      |
                                                                                                //                                           |             |             |             |                  |             |             |             |
                                                                                                                        bindings = <
                                                                                                       &kp F1        &kp F2         &kp F3        &kp F4        &kp F5        &kp F6                          &kp F7         &kp F8        &kp F9        &kp F10      &kp F11       &kp F12  
                                                                                                      &kp EQUAL      &kp N1         &kp N2        &kp N3        &kp N4        &tog GAM                        &kp RA(ENTER)  &kp N7        &kp N8        &kp N9       &kp N0        &kp RA(F)
                                                                                                      &kp PLUS       &kp EXCL       &kp AT       &kp RA(C)     &kp RA(V)      &kp RA(B)                       &kp RA(N)      &kp RA(M)   &kp RA(COMMA) &kp RA(DOT)  &kp RA(FSLH)    &kp RA(G)
                                                                                                                                                &lt ADJ TAB     &trans        &trans                          &trans         &trans      &lt ADJ DEL
                                                                                                                        >;
                                                                                                                };
                                                                                                                game_layer {
                                                                                                // --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                                                                                                // |      F1     |      F2     |      F3     |      F4     |      F5     |      F6     |                  |      F7     |      F8     |      F9     |     F10     |     F11     |   &tog GAM  |
                                                                                                // |      =      |      1      |      2      |      3      |      4      |      5      |                  |      6      |      7      |      8      |      9      |      0      |     A+F     |
                                                                                                // |      +      |      !      |      @      |      #      |      $      |      %      |                  |      ^      |      &      |      *      |      (      |      )      |      -      |
                                                                                                //                                           |     GUI     |             |     SPC     |                  |     ENT     |             |     ALT     |
                                                                                                                        bindings = <
                                                                                                      &kp ESC          &kp M         &kp Q         &kp W         &kp R         &kp T                        &kp F7         &kp F8        &kp F9        &kp F10        &kp F11       &tog GAM  
                                                                                                      &kp LGUI         &kp T         &kp A         &kp S         &kp D         &kp G                        &kp RA(ENTER)  &kp N7        &kp N8        &kp N9         &kp N0        &tog RSE
                                                                                                      &kp LCTRL        &kp Z         &kp X         &kp C         &kp V         &kp B                        &kp RA(N)      &kp RA(M)   &kp RA(COMMA)  &kp RA(DOT)  &kp RA(FSLH)     &tog DEF
                                                                                                                                                &kp LSHFT     &kp SPACE      &mo RSE                         &trans         &trans      &lt ADJ DEL
                                                                                                                        >;
                                                                                                                };
                                                                                                                adjust_layer {
                                                                                                // -----------------------------------------------------------------------------------------
                                                                                                // |     BLDR    |             |             |             |             |             |                  |             |             |             |             |             |    BLDR     |
                                                                                                // |     BTCLR   |    BT0      |     BT1     |     BT2     |     BT3     |     BT4     |                  |     BT4     |     BT3     |     BT2     |     BT1     |     BT0     |    BTCLR    |
                                                                                                // |             |             |             |             |             |             |                  |             |             |             |             |             |             |
                                                                                                //                                           |             |             |             |                  |             |             |             |
                                                                                                                        bindings = <
                                                                                                     &bootloader     &none          &none         &none         &none         &none                            &none         &none         &none         &none         &none      &bootloader
                                                                                                      &bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &bt BT_SEL 4   &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0   &bt BT_CLR
                                                                                                        &none        &none          &none         &none         &none         &none                            &none         &none         &none         &none         &none         &none
                                                                                                                                                  &trans        &none         &trans                           &trans        &none         &trans
                                                                                                                        >;
                                                                                                                };
                                                                                                        };
                                                                                                };
